@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 100%;
}
.first-line {
    display: flex;
    flex-wrap: wrap;
}

.header-blue {
    display: flex;
    align-items: center;
    padding-left: 155px;
    background-color: rgb(23, 143, 208);
    width: 65%;
    height: 40px;
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.header-blue .telegram,
.header-blue p {
    margin-left: 8px;
}

.header-green {
    background-color: rgb(8, 173, 128);
    display: flex;
    align-items: center;
    width: 35%;
    height: 40px;
    padding-left: 260px;
}

.header-green img {
    margin-left: 10px;
}

.header-green img:hover {
    background-color: rgb(0, 189, 86);
    background-size: contain;
}

.second-line {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.name-img {
    margin-left: 1%;
}

.name {
    display: block;
    white-space: nowrap;
    font-size: 27px;
    margin-left: 2%;
}

.home {
    display: flex;
    padding: 0 5%;
}

.home p {
    margin-left: 4%;
    padding: 40px 0;
}

.home p:hover {
    border-bottom: 2px solid rgb(0, 189, 86);
    color: rgb(0, 189, 86);
}

.main-img {
    width: 100%;
    background-image: url(https://preview.colorlib.com/theme/petsitting/images/bg_1.jpg.webp);
    background-size: cover;
    color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.main-img p {
    font-size: 60px;
    width: 800px;
    text-align: center;
}

.learn-more {
    background-color: rgb(0, 189, 86);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    padding: 24px 0;
    font-family: 'Montserrat', sans-serif;
}

.learn-more:hover {
    background-color: transparent;
    border: 2px solid rgb(0, 189, 86);
    color: rgb(0, 189, 86);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: 100%;
    height: 300px;
}

.first-card,
.second-card,
.third-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.icon1, .icon2, .icon3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    bottom: 330px;
    z-index: 1;
}

.text-on-cards1, .text-on-cards2, .text-on-cards3 {
    width: 70%;
    height: 300px;
    font-size: 18px;
    background-color: white;
    color: #838383;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    bottom: 70px;
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
}

.text-on-cards1 p, .text-on-cards2 p, .text-on-cards3 p {
    width: 80%;
}

.card-name {
    font-size: 22px;
    color: black;
    margin-bottom: 20px;
}

.text-on-cards1:hover, .text-on-cards2:hover, .text-on-cards3:hover {
    background-color: rgb(0, 189, 86);
    color: white;
}

.text-on-cards1:hover, .text-on-cards2:hover, .text-on-cards3:hover {
    .card-name {
        color: white;
    }
}

.arrow1, .arrow2, .arrow3 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
    background-color: rgb(0, 189, 86);
    position: absolute;
    top: 200px;
    font-size: 30px;
    box-shadow: 5px 5px 5px #838383;
}

.first-card:hover, .second-card:hover, .third-card:hover {
    .icon1, .icon2, .icon3 {
        background-color: white;
    }
}
.first-card:hover, .second-card:hover, .third-card:hover{
    .arrow1, .arrow2, .arrow3 {
        background-color: white;
        color: rgb(0, 189, 86);
        margin-left: 10px;
    }
}

.choose-us {
    display: flex;
    height: 650px;
    width: 100%;
}

.row1,
.row2,
.care,
.support,
.emergency,
.veterinary {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 100px;
    width: 80%;
    height: 60%;
    font-family: 'Montserrat', sans-serif;
}

.green-img {
    background-color: rgb(0, 189, 86);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-p {
    margin-left: 30px;
    width: 50%;
    font-size: 18px;
    color: #838383;
}

.h1 {
    color: black;
    margin-bottom: 15px;
    font-size: 20px;
}

.support,
.veterinary {
    margin-left: 60px;
}

.row2 {
    margin-top: 70px;
}

.column h1 {
    padding-bottom: 50px;
    color: rgb(48, 43, 42);
}

.pug-img {
    margin-left: 100px;
}

.pet-number {
    width: 100%;
    background-color: rgb(0, 189, 86);
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.number-column {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.product-name {
    font-size: 20px;
    margin-top: 10px;
    color: white;
}

.questions {

    font-size: 18px;
}

.questions-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
}

.first-question,
.second-question,
.third-question,
.fourth-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 135%;
    height: 60px;
    border-radius: 100px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px #838383;
    margin-left: 180px;
    padding-left: 15px;
}

.question-name {
    padding-top: 105px;
    padding-left: 170px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(50, 50, 51);
}

.question-desc {
    padding-left: 170px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #838383;
    width: 83%;
    padding-top: 27px;
}

.plus {
    margin-right: 20px;
}

.questions-section {
    display: flex;
    width: 100%;
    background-color: rgb(248, 249, 253);
    height: 900px;
}

.pomeranian-column {
    display: flex;
    flex-direction: column;
    margin-top: 105px;
    margin-right: 160px;
}

.pomeranian-row {
    display: flex;
    margin-top: 20px;
}

.pomeranian-third {
    margin-left: 38px;
}
.name-input, .time-input, .date-input, .number-input{
    width: 33%; 
    height: 50px;
}
.pomeranian-first,
.pomeranian-second,
.pomeranian-third {
    box-shadow: 5px 5px 5px #838383;
}

.feedback {
    background-image: url(https://preview.colorlib.com/theme/petsitting/images/bg_2.jpg.webp);
    width: 100%;
    height: 725px;
}

.feedback-name {
    color: rgb(48, 43, 42);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: 490px;
    padding-top: 100px;
}

.quote-mark-one,
.quote-mark-two,
.quote-mark-three {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 189, 86);
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 120px;
    top: 60px;
}

.quote-mark-two {
    left: 585px;
}

.quote-mark-three {
    left: 1045px;
}

.quote-row {
    width: 100%;
    position: relative;
}

.quote-card-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 85px;
}

.first-quote,
.second-quote,
.third-quote {
    width: 355px;
    height: 250px;
    border-radius: 5%;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: rgb(133, 133, 133);
    padding: 30px;
}

.manager {
    display: flex;
}

.manager-pic {
    border-radius: 100%;
    margin-top: 40px;
}

.name-column {
    color: black;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 24px;
}

.worker {
    padding-top: 10px;
    font-size: 16px;
}

.packages {
    background-color: rgb(243, 244, 248);
    width: 100%;
    height: 1090px;
    font-family: 'Montserrat', sans-serif;
}

.row-packages {
    display: flex;
}

.main-package {
    font-size: 30px;
    padding-left: 570px;
    padding-top: 100px;
    color: rgb(48, 43, 42);
}

.personal {
    width: 355px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 165px;
    margin-top: 88px;
    border-radius: 1%;
}

.package-name {
    font-size: 18px;
    color: rgb(0, 189, 86);
    padding-top: 20px;
}

.dog-img {
    border-top-right-radius: 1%;
    border-top-left-radius: 1%;
}

.price-row {
    display: flex;
    margin-top: 30px;
}

.dollar {
    color: rgb(195, 195, 195);
    font-size: 24px;
    padding-bottom: 15px;
}

.price {
    font-size: 50px;
}

.a-month {
    font-size: 12px;
    padding-top: 37px;
    color: rgb(179, 179, 179);
}

.contain,
.contain-gray,
.contain-gray-first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50px;
}

.contain-gray,
.contain-gray-first {
    background-color: rgb(242, 242, 242);
}

.contain-gray-first {
    margin-top: 20px;
}

.check {
    margin-right: 10px;
}

.start-button {
    width: 200px;
    height: 50px;
    font-size: 14px;
    background-color: rgb(0, 189, 86);
    border-radius: 5%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.business,
.ultimate {
    width: 355px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 20px;
    margin-top: 88px;
    border-radius: 1%;
    margin-left: 40px;
}

.gallery {
    width: 90%;
    height: 750px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.pets-img {
    margin-left: 230px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 90px;
    position: relative;
}

.pet2,
.pet3,
.pet5,
.pet6 {
    margin-left: 30px;
}

.pet4,
.pet5,
.pet6 {
    margin-top: 30px;
}

.pet1,
.pet2,
.pet3,
.pet4,
.pet5,
.pet6 {
    border-radius: 2%;
    z-index: 0;
    position: relative;
}
.pet3{
    right: -670px;
    top: -200px;
}
.pet4{
    right: 350px;
}
.pet5{
    right: -320px;
    top: -230px;
}
.pet6{
    top: -230px;
    right: -320px;
}
.gallery-section {
    padding-top: 110px;
    padding-left: 605px;
    color: rgb(48, 43, 42);
}

.persian,
.pomeranian,
.sphynx,
.british,
.beagle,
.pug {
    font-size: 24px;
    color: white;
    position: absolute;
    display:none ;
    z-index: 1;
}

.persian {
    top: 167px;
    left: 10px;
}

.pomeranian {
    top: 167px;
    left: 360px;
}

.sphynx {
    top: 167px;
    right: 33px;
}

.british {
    top: 397px;
    left: 10px;
}

.beagle {
    top: 397px;
    left: 360px;
}

.pug {
    top: 397px;
    right: 145px;
}

.pet1:hover+.persian {
    display: block;
}

.pet2:hover+.pomeranian {
    display: block;
}

.pet3:hover+.sphynx {
    display: block;
}

.pet4:hover+.british {
    display: block;
}

.pet5:hover+.beagle {
    display: block;
}

.pet6:hover+.pug {
    display: block;
}
.news-section{
    font-size: 30px;
    color: rgb(48, 43, 42);
    margin-left: 525px;
    padding-top: 110px;
}
.news{
    width: 100%;
    height: 750px;
    background-color:rgb(243, 244, 248) ;
    font-family: 'Montserrat', sans-serif;
}
.row-news{
    display: flex;
}
.first-news{
    width: 355px;
    height: 420px;
    background-color: white;
    margin-left: 165px;
    margin-top: 88px;
    border-radius: 1%;
}
.news-date{
    display: flex;
    font-size: 14px;
    color: rgb(195, 195, 195);
    margin: 20px;
}
.green-comment{
    color: rgb(0, 189, 86);
}
.green-comment, .author{
    margin-left: 10px;
}
.the-news{
    font-size: 18px;
    margin: 20px;
    width: 274px;
}
.news-img{
    border-top-right-radius: 1%;
    border-top-left-radius: 1%;
}
.second-news, .third-news{
    width: 355px;
    height: 420px;
    background-color: white;
    margin-left: 40px;
    margin-top: 88px;
    border-radius: 1%;
}
.consultation{
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
    height: 650px;
    display: flex;
}
.consultation-section{
    background-color:rgb(23, 143, 208) ;
    width: 50%;
}
.input-column{
    margin-left: 60px;
    margin-top: 30px;
}
.name-number, .date-time, .message{
    margin-top: 20px;

}
input, textarea, select{
    border-radius: 6px;
}
.number-input, .time-input{
    margin-left: 30px;
}
.consult-name{
    font-size: 30px;
    margin-left: 60px;
    padding-top: 80px;
}
.send-message{
    font-size: 12px;
    color: white;
    width: 67%;
    height: 50px;
    background-color:rgb(0, 189, 86) ;
    border-radius: 6px;
    margin-left: 60px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.send-message:hover{
    background-color: transparent;
    border: 2px solid rgb(0, 189, 86);
    color: rgb(0, 189, 86);
}
.footer{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 650px;
    background-color: rgb(26,26,26);
    color: white;
    padding-left: 170px;
    padding-top: 100px;
}
.petsit-info{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.info-row{
    display: flex;
    margin-top: 20px;
}
.twitter-info, .fb-info, .insta-info{
    background-color: rgb(49,49,49);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fb-info, .insta-info{
    margin-left: 20px;
}
.info-desc{
    color: rgb(195, 195, 195);
    padding-top: 20px;
}
.latest-news{
    width: 20%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.pic-desc{
    display: flex;
    margin-top: 20px;
}
.img-desc-info{
    padding-left: 20px;
}
.time-info{
    font-size: 11px;
    color: rgb(195, 195, 195);
    padding:15px 0 15px 110px;
}
.info-news-name{
    font-size: 24px;
}
.green-line{
    background-color:rgb(0, 189, 86) ;
    width: 50px;
    height: 5px;
}
.quick-links{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.sections{
    display: flex;
    flex-direction: column;
    color:rgb(195, 195, 195) ;
    margin-left: 50px;
}
.sections p{
    padding-top: 25px;
}
.have-questions{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.contact-info{
    display: flex;
    flex-direction: column;
}
.row-contact{
    display: flex;
    margin-top: 30px;
}
.row-contact-info{
    padding-left: 30px;
    color: rgb(195, 195, 195);
}
.img-desc-info:hover{
    color: rgb(0, 189, 86);
}
.burger{
    margin-left: 62%;
    display: none;
    color:rgb(195, 195, 195) ;
}
.burger-menu{
    padding-top: 13px;
}

@media  screen and (max-width:1300px){
    .pomeranian-column{
        margin-right: 40px;
    }
    .row-packages{
        margin-left: -85px;
    }
    .pets-img{
        margin-left: 145px;
    }
    .sphynx, .pug{
        left: 715px;
    }
    .row-news{
        margin-left: -85px;
    }
    .pug-img{
        margin-left: -20px;
    }
}
@media screen and (max-width:1200px) {
    .row-packages, .row-news{
        margin-left: -140px;
    }
    .pets-img{
        margin-left: 110px;
    }
}
@media screen and (max-width:1100px) {
    .pomeranian-first{
        width: 500px;
        height: 300px;
    }
    .pomeranian-second, .pomeranian-third{
        width: 230px;
        height: 190px;
    }
    .questions{
        margin-left: -140px;
    }
    .first-quote, .second-quote, .third-quote{
        width: 300px;
        height: 300px;
    }
    .quote-mark-three{
        left: 900px;
    }
    .row-packages{
        margin-left: -55px;
    }
    .dog-img{
        width: 250px;
    }
    .personal, .business, .ultimate{
        width: 250px;
    }
    .main-package, .feedback-name, .news-section, .gallery-section{
        padding-left: 350px;
        margin: 0;
    }
    .icon1, .icon2, .icon3{
        top: -130px;
    }
    .arrow1, .arrow2, .arrow3{
        top: 210px;
    }
    .pug-img{
        width: 330px;
        height: 460px;
        margin-top: 100px;
        margin-left: 25px;
    }
    .news-img, .first-news, .second-news, .third-news{
        width: 250px;
    }
    .the-news{
        width: 200px;
    }
    .row-news{
        margin-left: -45px;
    }
    .pet1, .pet2, .pet3, .pet4, .pet5, .pet6{
        width: 250px;
        height: 180px;
    }
    .pet2{     
        left: 35px;
    }
    .pet3{
        left: 590px;
        top: -180px;
    }
    .pet4{
        left: -278px;
    }
    .pet5{
        top: -210px;
        left: 285px;
    }
    .pet6{
        left: 310px;
        top: -210px;
    }
}
@media screen and (max-width:1000px) {
    .home p{
        font-size:14px ;
    }
    .pets-img{
        margin-left: 40px;
    }
    .header-green{
        padding-left: 220px;
    }
}
@media screen and (max-width:950px) {
    .row-news, .row-packages{
        margin-left: -115px;
    }
    .first-quote, .second-quote, .third-quote{
        width: 250px;
    }
    .quote-mark-two{
        left: 400px;
    }
    .quote-mark-three{
        left: 700px;
    }
    .column{
        margin-left: -55px;
    }
    .home p{
        font-size: 13px;
    }
}
@media screen and (max-width:900px){
    .first-line{
        width: 100%;
    }
    .header-blue,
    .header-green {
        width: 100%;
        padding: 0 10px;
    }
    .home p{
        display: none;
    }
    .burger{
        display: flex;
        margin-left: 50%;
    }
    .name{
        text-align: center;
        font-size: 24px;
    }
    .second-line img{
        margin: 10px;
    }
    .main-img p{
        font-size: 24px;
        width: 260px;
        margin-top: 100px;
    }
    .learn-more{
        width: 100px;
        height: 20px;
        font-size: 16px;
    }
    .cards{
        flex-direction: column;
        height: 1050px;
    }
    .text-on-cards1, .text-on-cards2, .text-on-cards3{
        width: 55%;
    }
    .text-on-cards1{
        top: 0px;
    }
    .text-on-cards2{
        top: -10px;
    }
    .text-on-cards3{
        top: -20px;
    }
    .icon1, .icon2, .icon3{
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }
    .icon1{
        top: -70px;
    }
    .icon2{
        top: -80px;
    }
    .icon3{
        top: -95px;
    }
    .arrow1, .arrow2{
        display: none;
    }
    .arrow3{
        width: 70px;
        height: 70px;
        top: 240px;
    }
    .choose-us{
        flex-direction: column;
        height: 1140px;
    }
    .pug-img{
        width: 50%;
        margin-left: 20%;
    }
    .row1, .row2{
        flex-direction: column;
        margin: 0;
        margin-left: 20px;
    }
    .column{
       margin: 0;
    }
    .column h1{
        padding-left: 30px;
    }
    .green-img{
        width: 80px;
    }
    .support, .veterinary{
        margin: 0;
    }
    .support, .emergency, .veterinary{
        margin-top: 40px;
    }
    .pet-number{
        flex-direction: column;
        height: 600px;
    }
    .questions-section{
        flex-direction: column;
        height: 1340px;
    }
    .pomeranian-first, .pomeranian-second, .pomeranian-third{
        position: relative;
        top: -1300px;
        right: -95px;
    }
    .questions{
        margin-top: 700px;
    }
    .feedback{
        height: 600px;
    }
    .second-quote, .third-quote, .quote-mark-three, .quote-mark-two{
        display: none;
    }
    .first-quote{
        width: 400px;
    }
    .feedback-name{
        margin-left: -115px;
    }
    .quote-mark-one{
        left: 280px;
    }
    .dog-img{
        width: 355px;
    }
    .packages{
        height: 2550px;
    }
    .row-packages{
        flex-direction: column;
        margin-left: 80px;
    }
    .personal, .business, .ultimate{
        width: 355px;
        margin-left: 183px;
        margin-top: 0px;
    }
    .business, .ultimate{
        margin-top: 40px;
    }
    .main-package{
        padding: 50px 0 50px 270px;
    }
    .gallery{
        height: 2090px;
    }
    .pets-img{
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 0 0 230px;
    }
    .gallery-section{
        padding: 50px 0 50px 330px;
    }
    .pet2, .pet3, .pet5, .pet4, .pet6{
        margin: 0;
        margin-top: 20px;
    }
    .pet2{
        left: 0;
    }
    .pet1, .pet2, .pet3, .pet5, .pet4, .pet6{
        width: 450px;
        height: 300px;
    }
    .pet3, .pet4, .pet5, .pet6{
        left: 0px;
        top: 0;
    }
    .persian{
        top: 260px;
    }
    .pomeranian{
        left: 10px;
        top: 585px;
    }
    .sphynx{
        left: 10px;
        top: 905px;
    }
    .british{
        top: 1230px;
    }
    .beagle{
        left: 10px;
        top: 1550px;
    }
    .pug{
        left: 10px;
        top: 1870px;
    }
    .news{
        height: 1480px;
    }
    .news-img{
        width: 355px;
    }
    .news-section{
        margin: 0;
        padding: 40px 0 40px 240px;
    }
    .row-news{
        flex-direction: column;
        margin-left: 80px;
    }
    .first-news, .second-news, .third-news{
        width:355px ;
        margin: 0 0 0 190px;
    }
    .second-news, .third-news{
        margin-top: 25px;
    }
    .consultation-img{
        display: none;
    }
    .consultation-section{
        width: 100%;
        height: 790px;
    }
    .name-number, .date-time{
        display: flex;
        flex-direction: column;
    }
    .name-input, .number-input, .time-input, .date-input{
        width: 72%;
    }
    .number-input, .time-input{
        margin: 0;
        margin-top: 20px ;
    }
    .footer{
        flex-direction: column;
        height: 1350px;
        padding: 200px 0 0 0;
    }
    .petsit-info, .latest-news, .quick-links, .have-questions{
        width: 80%;
        margin: 0 0 0 20px;      
    }

    .latest-news, .quick-links, .have-questions{
        margin-top: 40px;
    }
    .time-info{
        padding: 0 0 0 118px;
    }
    .sections{
        margin-left: 15px;
    }
    .svg-map{
        width: 30px;
    }
    .row-contact-info{
        padding-top: 20px;
    }
    .phone-contact, .telegram-contact{
        margin-top: 20px;
    }
}
@media screen and (max-width:750px) {
    .pug-img{
        margin-top: 20px;
    }
}
@media screen and (max-width:650px) {
    .row-packages, .row-news{
        margin-left: -40px;
    }
    .pets-img{
        margin-left: 100px;
    }
    .gallery-section, .news-section, .main-package, .feedback-name{
        margin-left: -120px;
    }
}
@media screen and (max-width:550px){
    .burger{
        margin-left: 35%;
    }
    .pug-img{
        margin-left: 5%;
        width: 75%;
    }
    .choose-us{
        height: 1350px;
    }
    .pomeranian-first{
        width:400px ;
        height: 250px;
    }
    .pomeranian-second, .pomeranian-third{
        width: 210px;
        height: 170px;
    }
    .pomeranian-first, .pomeranian-second, .pomeranian-third{
        top: -55px;
        right: -55px;
    }
    .questions-section{
        position: relative;
        height: 1200px;
    }
    .questions{
        margin-top: 440px;
        width: 100%;
        position: absolute;
    }
    .question-desc{
        width: 100%;
    }
    .feedback-name{
        margin-left: -155px;
        width: 94%;
    }
    .main-package{
        width: 100%;
        margin-left: -33px ;
    }
    .row-packages{
        margin-left: 30px;
    }
    .personal, .business, .ultimate{
        margin-left: 77px;
    }
    .gallery{
        height: 1400px;
        width: 80%;
    }
    .gallery-section{
        margin-left: -165px;
    }
    .latest-news, .quick-links, .have-questions{
        width: 80%;
        margin: 40px 0 0 20px;      
    
    }
    .pets-img{
        width: 80%;
        margin-left: 160px;
    }
    .pet1, .pet2, .pet3, .pet5, .pet4, .pet6{
        width: 250px;
        height: 180px;
    }
    .news-section{
        margin-left: -120px;
    }
    .row-news{
        margin-left: -115px;
    }
    .icon1, .icon2, .icon3 {
        width: 100px;
        height: 100px;
    }
    .text-on-cards1, .text-on-cards2, .text-on-cards3{
        width: 70%;
    }
}
@media screen and (max-width:500px) {
    .pomeranian-row{
        margin-left: -37px;
    }
    .feedback-name{
        margin-top: -70px;
        margin-left: -195px;
        text-align: center;
    }
    .feedback{
        height: 700px;
    }
}
